<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>'s Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header-container">
        <div class="container welcome-container">
            <h2>Welcome, <%= username %>!</h2>
            <button class="button logout-button" type="button" id="logout">Log out</button>
        </div>
        <div class="container status-container">
            <h1>Slice</h1>
            <div class="status">You are connected to <%= bankName %></div>
        </div>
        <div class="container accounts-container">
            <div class="card" id="account-cards">
                <h3>Connected Accounts:</h3>
                <!-- Account cards will be dynamically added here -->
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="container links-container">
            <h2>Quick Links</h2>
            <!-- Links to other stuff will go here -->
            <div class="card" id="balances">
                <h3>Real Time Account Balances</h3>
                <button class="button" type="button" id="realtimeBalance">Get Balances</button>
                <div id="balanceOutput"></div>
            </div>
            <div class="card" id="budget">
                <h3>Budget Overview</h3>
                <button class="button" type="button" id="budgetInfo">Go to Budget View</button>
                <div id="budgetOutput"></div>
            </div>
            <div class="card" id="transactions">
                <h3>Recent Transactions</h3>
                <button class="button" type="button" id="transactionData">Get Transactions</button>
                <div id="transactionOutput"></div>
            </div>
            <div class="card" id="accountInfo">
                <h3>Account Information</h3>
                <button class="button" type="button" id="accountNumbers">Show Account/Routing Numbers</button>
            </div>
            <div class="card" id="transactionsPage">
                <h3>Transactions Overview</h3>
                <button class="button" type="button" id="transactionsPageButton">Go to Transactions View</button>
            </div>
        </div>
        <div class="container main-container" id="main-container">
            <h2>Recent Transactions</h2>
            <!-- Main stuff will go here (just recent transactions for now)-->
        </div>
        <div class="container summary-container">
            <h2>Spending Summary</h2>
            <!-- spending summary will go here -->
            <canvas id="spendingChart" width="300" height="300"></canvas>
        </div>
    </div>

    <div class="footer container">
        <div class="card" id="output">
            <h2>Output</h2>
            <div id="outputContent">Output will go here</div>
        </div>
    </div>

    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/js/util.js"></script>
    <script type="module" src="/js/client.js"></script>
    <script type="module" src="/js/spendingSummary.js"></script>
</body>
</html>
