<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slice</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Slice</h1>
        <p>Login here</p>
        <input type="text" id="usernameBox" class="styled-textbox" placeholder="Username">
        <button type="button" id="login">Login</button>
        <p>If you are creating an account, you can connect to your bank here. Otherwise, head over to your dashboard!</p>
        <button type="button" id="startLink" disabled>Connect Your Bank</button>
        <button type="button" id="continue" disabled>Go to dashboard</button>
    </div>
    <div
        class="container"
        id="output"
      >
        Current status will be displayed here
    </div>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script type="module" src="/js/util.js"></script>
    <script type="module" src="/js/client.js"></script>
</body>
</html>
