body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc; /* Change to your desired grey color */
    cursor: not-allowed; /* Optional: Change cursor style */
    opacity: 0.6; /* Optional: Reduce opacity for visual indication */
}

.styled-textbox {
    width: 100px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.styled-textbox:focus {
    border-color: #007BFF;
}

.styled-textbox::placeholder {
    color: #aaa;
}